
<h1>To Do List</h1>
<h3>Add a new contact:</h3>
<form action='/contacts' method='post'>
  <label for='contact-name'>Contact Description</label>
  <input id='contact-name' name='contact-name' type='text'>
  <label for='contact-phone'>Contact Description</label>
  <input id='contact-phone' name='contact-phone' type='text'>
  <label for='address'>Contact Description</label>
  <input id='address' name='address' type='text'>
  <button type='submit'>Add contact</button>
</form>
