@{
  Layout = "_Layout";
}

<h1>Contacts</h1>
<ol type="A">
  @foreach (var contact in Model)
  {
<li><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
}
</ol>
<a href="/contacts/new">Add new contact</a>
